.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("http://media1.santabanta.com/full1/Miscellaneous/Musical%20Instruments/musical-instruments-90a.jpg");
  background-position: right ;
  background-size: cover;
  height: 250px;
  padding: 20px;
  color: white;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* NAVBAR styles*/

.navBar{

}

.navLinks{
  list-style: none;
  display: flex;
  justify-content: center;
}

.navLink{
  margin: 10px;

}

/* Main Body styles*/

.main {
  display: flex;
  margin-left: 10%;
}

/* Playlist div*/
.playlistTable{
  margin-left: 50px;
}
